		<footer id="footer" class="bg-white noborder">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="row">

						<div class="col-lg-2 col-md-2 col-6 pr-4">
							<div class="widget clearfix">

								<h4 class="ls0 nott">Download App</h4>
								<a href="#"><img src="../../demos/articles/images/appstore.png" alt="App Link"></a>
								<a href="#"><img src="../../demos/articles/images/googleplay.png" alt="App Link" class="mt-2"></a>

							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-6">
							<div class="widget clearfix">

								<h4 class="ls0 nott">Support</h4>

								<ul class="list-unstyled ml-0">
									<li class="mb-2"><a href="#" class="text-black-50">Home</a></li>
									<li class="mb-2"><a href="#" class="text-black-50">About</a></li>
									<li class="mb-2"><a href="#" class="text-black-50">FAQs</a></li>
									<li class="mb-2"><a href="#" class="text-black-50">Support</a></li>
								</ul>

							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-6 mt-4 mt-md-0">
							<div class="widget clearfix">

								<h4 class="ls0 nott">Trending</h4>

								<ul class="list-unstyled ml-0">
									<li class="mb-2"><a href="#" class="text-black-50">Shop</a></li>
									<li class="mb-2"><a href="#" class="text-black-50">Portfolio</a></li>
									<li class="mb-2"><a href="#" class="text-black-50">Blog</a></li>
								</ul>

							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-6 mt-4 mt-md-0">
							<div class="widget clearfix">

								<h4 class="ls0 nott">Features</h4>

								<ul class="list-unstyled ml-0">
									<li class="mb-2"><a href="#" class="text-black-50">Help Center</a></li>
									<li class="mb-2"><a href="#" class="text-black-50">Paid with Moblie</a></li>
									<li class="mb-2"><a href="#" class="text-black-50">Status</a></li>
									<li class="mb-2"><a href="#" class="text-black-50">Contact Support</a></li>
								</ul>

							</div>
						</div>

						<div class="col-lg-4 col-md-4">
							<div id="instagram" class="widget clearfix">

								<h4 class="ls0 nott">Instagram Photos</h4>
								<div id="instagram-photos" class="instagram-photos masonry-thumbs grid-4" data-user="5834720953" data-count="8" data-type="user"></div>

							</div>
						</div>
					</div>

				</div>

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights" class="bg-light">

				<div class="container">
					<div class="row justify-content-between align-items-center">
						<div class="col-sm-4 d-flex justify-content-sm-start mb-3 mb-sm-0 text-black-50">
							Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.
						</div>
						<div class="col-sm-4 d-flex justify-content-sm-center mb-3 mb-sm-0">
							<a href="http://facebook.com/semicolonweb" target="_blank" class="social-icon si-small si-colored si-facebook" title="Facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
							<a href="http://twitter.com/__semicolon" target="_blank" class="social-icon si-small si-colored si-twitter" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>
							<a href="https://www.youtube.com/semicolonweb" target="_blank" class="social-icon si-small si-colored si-youtube" title="youtube">
								<i class="icon-youtube"></i>
								<i class="icon-youtube"></i>
							</a>
							<a href="https://www.instagram.com/semicolonweb" target="_blank" class="social-icon si-small si-colored si-instagram" title="instagram">
								<i class="icon-instagram"></i>
								<i class="icon-instagram"></i>
							</a>
						</div>
						<div class="col-sm-4 d-flex justify-content-sm-end">
							<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
						</div>
					</div>
				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->